*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
margin: 0;
padding: 0;
}
ul, li, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover, a:focus{
    text-decoration: none;
    border: 0;
    outline: 0;
} 
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
}
.headersec{
    width: 100%;
    overflow: hidden;
}
.topbar{
    width: 100%;
    overflow: hidden;
   background:#000;
    padding: 5px 0;
}
ul.headsocial li{
    float: left;
    margin-left: 19px;
}
ul.headsocial li:first-child{
    margin-left: 0;
}
ul.headinfo li{
    float: left;
    margin-left: 18px;
    font-size: 14px;
    font-weight: bold;
}
ul.headinfo li:first-child{
    margin-left: 0;
}
ul.headinfo{
    float: right;
}
ul.headinfo li a{
    color: #fff;
}
.headbar{
    padding: 12px 0;
    width: 100%;
    overflow: hidden;
}
.headbar .row{
align-items: center;
}
.headbar ul{
    text-align: center;
}

/*.headbar.header-scrolled {
    position: fixed;
    top: 0;
    right: 0;
    background-color:#fff;
    z-index: 3;
}
*/
.headbar.fixed {
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    width: 100%;
    background-color:#fff;
}
.headbar ul li{
    margin: 0 15px;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    line-height: normal;
    font-family: 'Josefin Sans', sans-serif;
}
.header_wrapper .navbar{
    padding: .9375rem 0;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.headbar ul li a{
    display: inline-block;
    color: #000;
}
.headbar ul li a:hover{
    color: #2EB872;
}
.headbar .row{
    align-items: center;
}
.logo img{
    max-width: 100px;
}
.headbar button{
border: none;
  color: #fff;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  background-color: #2EB872;
  align-items: center;
}
.headbar .button1{
    float: right;
}
a.discoverbut{
    background-color: #2EB872;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    padding: 12px 30px;
    display:inline-block;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}


.slider-area{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
}
.bannersec{
    overflow: hidden;

}

.bannersec .item{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.bannersec h2
{
    font-size: 16px;
    color: #2EB872;
    padding-bottom: 30px;
}
.bannersec h1{
    font-size: 45px;
    color: #fff;
    max-width: 480px;
    line-height: 50px;
    font-weight: bold;
    padding-bottom: 30px;
}
.bodysec h2{
    font-size: 22px;
    color: #fff;

}
.bodysec p{
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
}
.top-bg-sec{
    background-color: #000;
    border-radius: 10px;
    padding: 40px 40px;
    width: 100%;
}
.topsec{
    position: relative;
    margin: -94px 0 0 0px;
    z-index: 1
}
.topseccontbdr{
    border-left: 1px solid rgba(46, 184, 114, 0.30);
}
.topseccontbdr:first-child{
    border-left: 0;
}
.firstsecimg{
    position: relative;
}
.firstsecimg img{
    border-radius: 50%;
}
.firstcontfirstimg{
    position: relative;
}
.firstcontsecondimg{
    position: absolute;
    text-align: center;
    z-index: 1;
    bottom: 0;
    right: 30px;
    border-radius: 50%;
    background-color: #2EB872;
    border: 10px solid #2EB872;
}
.firstcontsec .firstcontsecondimg img{
    max-width: 100%;
    height: auto;
    
}
.aboutshape{
    position: absolute;
    left: -80px;
    top: -65px;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.firstcontsec{
     padding: 140px 0 140px 0;
}
.firstcontsec h3{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #000;
    line-height: 51px;
}
.firstcontinfo{
    padding-left: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.aboutsec{
    -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.firstcontsec h5{
    color: #2EB872;
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
}
.firstcontsec p{
    color:rgba(0, 0, 0, 0.70);
    font-size: 16px;
    padding-top: 30px;
    font-weight: normal;
}
.firstcontinfo .arrow_right_info p{
    font-size: 16px;
    font-weight: normal;
}
.firstcontinfo ul{
   margin-top: 30px;
    margin-bottom: 30px;
}
.firstcontinfo li{
    padding-bottom: 10px;
}
.arrow_right_info img{
    border-radius:50%;
    padding: 0 2px 0 2px; 
    background-color: #2EB872;
    border: 5PX solid #2EB872;
}

.abouthirdcont{
    font-weight:normal;
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    line-height: 30px;
}
.secondcontsec{
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: left top;
}
.leftimg img{
    border: 16px solid #fff;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
.leftimg{
    padding-left: 50px;
}
.secondcontinfo h3{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #000;
    line-height: 51px;
}
.secondcontinfo h5{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 36px;
    margin-top:  30px;
    margin-bottom: 30px;

}
.secondcontinfo li{
    margin-bottom: 10px;
}
.secondcontinfo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
  
   
}
.secondcontinfo .abouthirdcont{
    font-weight: 600;
}
.arrow_right_info{
    margin-bottom: 20px;
}
.servicesec{
    padding-top: 130px;
}
.servicesec h2{
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    padding-bottom:30px;
    font-size: 49px;
    line-height: 30px;
    text-align: center;
}

.service_img{
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 4px solid #2EB872;
}
.service_img img
{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.service_img:after
{
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
    content:"";
    z-index: 1;
    background:rgba(0, 0, 0, 0.70);
}
.servicecontain{
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index: 2;
    padding: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.serviceiconimg img{
    width: auto;
    height: auto;
    max-width: 80px;
    border: 2px solid #fff;
    padding: 10px;
    }
    .servicecontain h3{
        color: #fff;
        font-size: 25px;
        padding: 20px 0;

    }
    .servicecontain p{
        color: #fff;
        font-size: 16px;
        line-height: 22px;
    }
    .ouranimalsec h2{
        font-size: 49px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;

        color: #000;

    }
    .ouranimal_img img{
        width: 100%;
        height: auto;
    }
    .ouranimalsec{
        padding-bottom: 100px;
    }
    .ouranimalsec .ouranimal_img{
        position: relative;
    }
    .ouranimalsec .ouranimal_info{
        position:absolute;
        right: 0;
        z-index: 1;
        bottom: 31px;
        padding: 15px 30px 15px 15px ;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .ouranimalsec.animalcontain{
        padding-right: 20px;
    }
    .ouranimal_info h6{
        color: #2EB872;
        font-size: 18px;
        font-weight: bold;
    }
    .ouranimal_info h4{
        color: #fff;
        font-size: 25px;
    }
    ul.fa_icon{
        padding-top: 30px;
    }
    ul.fa_icon li{
        display: inline;
        color: #2EB872;
    }
    .Reviewsec .card p{
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }
    .Reviewsec .card{
        align-items: center;
        border-radius: 20px;
        padding: 100px 30px;
        position: relative;
    }
    .Reviewsec .owl-stage-outer
    {
        padding-top: 70px;
    }
    .Reviewsec h6{
       padding-top: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: #000;
        font-size: 20px;
    }
    .Reviewsec:before{
        width: 100%;
        height: 100%;
        position: absolute;
        content:"";
        background:rgba(0, 0, 0, 0.70);

    }
    .Reviewsec{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    }
    .Reviewsec h2{
        color: #fff; 
        position: relative;
        padding: 100px 0 80px 0;
        text-align: center;
        font-size: 49px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        line-height: 30px;
    }
    .testiperimg {
        position:absolute;
        border-radius: 50%;
        width: 155px;
        height: 155px;
        top: -70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        fill: #D9D9D9;
         filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.25));
    }
    .testiperimg img{
        border-radius: 50%;
    }
    .blogsecimg img{
        border-radius: 20px;
    }
    .blogsecimg{
        position: relative;
    }
    .catganitag{
        position: absolute;
        padding: 10px 16px;
        background-color: #2EB872;
        z-index: 1;
        left: 25px;
        top:30px;
    }
    .catganitag{
        color: #fff;
    }
    ul.blogsecinfo li{
        float: left;
        margin-left: 15px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px; 
    }
    ul.blogsecinfo li:first-child{
        margin-left: 0;
    }
    ul.blogsecinfo li img {
        margin:-2px 10px 0 0;
        float: left;
    }
    .blogsec{
        padding-bottom: 100px;
    }
    ul.blogsecinfo
    {
        width: 100%;
        display: flex;
    }
    .blogsec h5{
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    a.readbut{
        background-color: #2EB872;
        font-size: 16px;
        color: #fff;
        line-height: 45px;
        padding: 0 20px;
        display: inline-block;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
        max-width:150px;
    }
   .bloginfo{
    padding: 30px 15px;
    width: 100%;
    overflow: hidden;
   }
    .blogsec .card{
        border: none;
    }
    .blogsec h2{
        padding: 100px 0;
        text-align: center;
        color: #000;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
    }
    .blogsecinfo img{
        width: 18px;
        height: 18px;
    }
    .footersec img{
        max-width: 100px;
        height: auto;
    }
    ul.fab_icon li{
        float: left;
        margin-left: 20px;
    }
    .footersec .fab_icon img{
        width: 20px;
        height: 20px;
    }
    ul.fab_icon li:first-child{
        margin-left: 0;
    }
    .footersec{
        background-color: #050110;
    }
    .footerinfo p{
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        margin: 25px 0;
        text-transform: capitalize;
    }
    .footersec h5{
        color: #fff;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .footernav ul li{
        margin-bottom: 11px;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 22px;
    }
    .footernav ul li a{
        color: #fff;
        background:url(../HTML/Images/ICONS/right_arrow.svg) no-repeat left  center;
        padding-left: 25px;
        font-size: 16px;
    }
    .footernav ul li a:hover{
        margin-left: 0.625rem;
    color:#2EB872;
}
    
    .footseccontact_info ul li{
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 22px;
    }
    .footseccontact_info ul li a
    {
        color: #fff;
        padding-left: 30px;
        display: block;
        font-size: 16px;
    }
    .footseccontact_info ul li:nth-child(1) a
    {
        background:url(../HTML/Images/ICONS/location.svg) no-repeat left  5px;

    }
    .footseccontact_info ul li:nth-child(2) a
    {
        background:url(../HTML/Images/ICONS/phone.svg) no-repeat left 8px;
    }
    .footseccontact_info ul li:nth-child(3) a
    {
        background:url(../HTML/Images/ICONS/mail1.svg) no-repeat left  7px;
    }
    .coationline{
        border-top: 3px solid #fff;
        padding: 15px 0 30px 0;
    }
    .coationline p{
        text-align: center;
        color: #fff;
    }
    .coationline p span{
        color: #2EB872;
    }
    .topfootersec{
        padding: 60px 0 40px 0;
    }
    .Reviewsec .owl-carousel .owl-next span {
        background:#2EB872;
        padding: 10px 15px;
        color: #fff;
        font-size: 30px;
        border-radius: 8px;
        border: 2px solid transparent;
    }
    .Reviewsec .owl-carousel .owl-prev span {
        background:#2EB872;
        padding: 10px 15px;
        color: #fff;
        font-size: 30px;
        border-radius: 8px;
        border: 2px solid transparent;
    }
    .Reviewsec .owl-carousel .owl-dots{
        padding-top: 30px;
    }
    .Reviewsec .owl-carousel .owl-dot span
    {
        margin:0 5px !important;
        border:1px solid transparent;
    }
    .Reviewsec .owl-carousel .owl-dot.active span, .Reviewsec .owl-carousel .owl-dot:hover span
    {
        background:#2EB872;
        border:1px solid #fff;
    }
    .Reviewsec .owl-carousel .owl-next{
        right: 0;
        top: 0;
        position: absolute;
    }
    .Reviewsec .owl-carousel .owl-prev {
        right: 50px;
        top: 0;
        position: absolute;
    }
    .faq_sec h6{
        font-size: 15px;
        text-align: center;
        color: #707070;
    }
    .faq_sec h2{
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
    }
    .faq_sec h2 span{
        color: #2EB872;
    }
    .faq_sec p{
        font-size: 18px;
        text-align: center;
        color: #000;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 30px;
        line-height:40px;
    }
    .faq_sec p::before{
        position: absolute;
        content: '';
        width: 200px;
        height: 2px;
        background-color: #2EB872;
       left: 50%;
       transform: translateX(-50%);
    }
    .image-position{
        position: absolute;
        left: 0;
        top:50%;
        width:100%;
        z-index: 99;
        transform: translateY(-50%)
    }

    .bannersec .owl-carousel,  .bannersec .owl-carousel .owl-stage-outer, .bannersec .owl-carousel .owl-stage-outer .owl-stage, .bannersec .owl-carousel .owl-stage-outer .owl-stage .owl-item, .bannersec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item

    {
       height: 100%;

    }

    .bannersec .owl-carousel .owl-stage-outer .owl-stage .owl-item .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .FAQ_sec h6{
        text-align: center;
        color: #707070;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 4.5px;
        text-transform: uppercase;
    }
    .FAQ_sec h3{
        color: #121212;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        
    }
    .FAQ_sec span{
        color: #2EB872;
        font-weight: 700;
    }
    .FAQ_sec h3::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background-color: #2EB872;
        height: 2px;
        width: 144px;
        
    }
    .FAQ_sec p{
        color: #121212;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
        padding-bottom: 20px;
    }
    .accordion-button
    {
        padding-left: 100px;
    }
    .accordion-button.collapsed::before
    {
        border: 1px solid #E05527;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 30px;
    background-color: #E05527;
    border: 6px solid #fff;
    outline-color: #E05527;
    outline-style: solid;
    outline-width: thin;
    }
    .accordion-button::before
    {
    border: 1px solid #2EB872;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 30px;
    background-color: #2EB872;
    border: 6px solid #fff;
    outline-color: #2EB872;
    outline-style: solid;
    outline-width: thin;
    }
    .accordion-button.collapsed::after{
        background-image: url(../HTML/Images/FAQ_icon/arrow.png) !important;
        width: 12px;
        height: 22px;
        background-size: 100% 100%;
        transform: rotate(0deg) !important;
    }
    .accordion-button::after{
        background-image: url(../HTML/Images/FAQ_icon/arrow.png) !important;
        width: 12px;
        height: 22px;
        background-size: 100% 100%;
        transform: rotate(-90deg) !important;
    }
    .FAQ_sec{
        padding: 100px 0;
    }
    .FAQ_sec .accordion-body p{
        color: #121212;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }
    .FAQ_sec .accordion ul li{
        margin-bottom: 20px;
    }
    .FAQ_sec .accordion-item{
        border: none;
        filter: drop-shadow(0px 7px 22px rgba(0, 0, 0, 0.06));
    }
  
    .bannersec{
        position: relative;
    }
   
  
    .bannersec .owl-theme .owl-nav button {
        position: absolute;
        display: block;
        width: 63px;
        height: 63px;
        line-height: 63px;
        border: 2px solid rgba(255, 255, 255, 0.20);
        text-align: center;
        border-radius: 50%;
        right:10%;
        margin:0;
        background: transparent;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.20);
        transition: all 500ms ease;
        /*transform: translate(0, -50%);*/
    }
    .bannersec .owl-theme .owl-nav button.owl-prev
    {
        top:200px;
        background: url(../HTML/Images/FAQ_icon/next.svg) no-repeat center center;
        transform: rotate(180deg);
    }
    .bannersec .owl-theme .owl-nav button.owl-next
    {
        top:300px;
        background: url(../HTML/Images/FAQ_icon/next.svg) no-repeat center center;
    
    }
    .bannersec .owl-theme .owl-nav button span{
        display: none;
    }
    .Contact_sec{
        background-color: #000;
        color: #2EB872;
        padding-bottom: 100px;
    }
    .Contact_sec h2{
        color: #fff;
        text-align: center;
        padding: 100px 0 50px 0;
        text-transform:capitalize;
        font-size: 49px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
    .Contact_sec .input_box{
        position: relative;
        width: 100%;
        height: 40px;
        margin: 30px 0;
    }
    .Contact_sec .input_box input,
    .Contact_sec .input_box textarea
    {
          position:absolute;
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          padding: 0 10px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          z-index: 1;
    }
    .Contact_sec .input_box .text{
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 10px;
        display: block;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;  
    }
    .Contact_sec .input_box input:focus + .text,
    .Contact_sec .input_box input:valid + .text,
    .Contact_sec .input_box textarea:focus + .text,
    .Contact_sec .input_box textarea:valid + .text
    {
        top: -35px;
        left: -10px;
    }
    .Contact_sec .input_box .line{
        position: absolute;
       bottom: 0;
        background: #2EB872;
        height: 2px;
        width: 100%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

    }
    .Contact_sec .input_box input:focus ~ .line,
    .Contact_sec .input_box textarea:focus ~ .line
    {
    height: 100%;
    }
    .Contact_sec .input_box input:focus ~ .line,
    .Contact_sec .input_box input:valid ~ .line,
    .Contact_sec .input_box textarea:focus ~.line,
    .Contact_sec .input_box textarea:valid ~ .line
    {
        height: 100%;
    }
    .Contact_sec .input_box.textarea {
        width: 100%;
        height: 100px;
        position: relative;
        padding: 10px 0;

    }
    .Contact_sec .input_box.textarea textarea{
        height: 100%;
    
    }
    input[type="submit"]{
        background-color: #fff;
        color: #2EB872;
        font-size: 18px;
        padding: 8px 15px;
        border: none;
        border-radius: 6px;
        text-transform: capitalize;
    }
    .headmodal .modal-header .btn-close{
        padding: 10px;
        background-color: #fff;
        color: #000;
        font-size: 18px;
    }
    .headmodal .modal-header .btn-close:hover{
       color: #2EB872;
    }
    .headmodal .modal-footer .close{
        padding: 5px 20px;
    background-color: #E05527;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 14px;
    }
    .headmodal .modal-footer .send{

        padding: 5px 20px;
    background-color: #2EB872;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 14px;
    }
    .headbar .modal-header h5{
        color: #000;
        font-weight: 700;
        font-size: 25px;
    }
    .navbar.header-scrolled{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        background-color:#fff;
        overflow: hidden;
        box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
        transition: 0.3s ease-in-out;
    
    }
    